[package]
name = "util"
description = "Utilities for the Bittorrent Infrastructure Project"
keywords = ["utility"]

authors.workspace = true
categories.workspace = true
documentation.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
publish.workspace = true
readme.workspace = true
repository.workspace = true
version.workspace = true


[dependencies]
chrono = "0.4"
num = "0.4"
rand = "0.8"
rust-crypto = "0.2"
