[package]
description = "Bittorrent Infrastructure Project Disk Module"
keywords = ["disk", "filesystem", "fs"]
name = "disk"
readme = "README.md"

authors.workspace = true
categories.workspace = true
documentation.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
publish.workspace = true

repository.workspace = true
version.workspace = true

[dependencies]
metainfo = { path = "../metainfo" }
util = { path = "../util" }

bytes = "1"
crossbeam = "0"
futures = "0"
lru-cache = "0"
pin-project = "1"
thiserror = "1"
tokio = { version = "1", features = ["full"] }
tracing = "0"

[dev-dependencies]
criterion = { version = "0", features = ["async_tokio"] }
rand = "0"
tracing-subscriber = "0"

[[bench]]
harness = false
name = "disk_benchmark"
